$primary-dark: hsl(0, 0%, 0%);
$primary-grey: hsl(150, 1%, 49%);
$primary-light: hsl(0, 0%, 100%);
$primary-green: hsl(149, 96%, 32%);

$secondary-dark: hsl(0, 0%, 10%);
$secondary-grey: hsl(0, 0%, 22%);
$secondary-light: hsl(0, 0%, 93%);
$secondary-green: hsl(145, 100%, 32%);

$button-green: hsl(138, 100%, 33%);
