@use "colors" as *;

html {
  background-color: $primary-light;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

button,
input,
select {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button,
input[type="submit"] {
  transition: all 0.3s ease;
  &:hover {
    filter: brightness(0.9);
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
