@use "./partials" as *;

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: $primary-light;
  padding: 0.75em 1.25em;
  width: 100%;
  &.mobile-navbar--active {
    .navbar__links {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      gap: 0.9375rem;
      z-index: 3;
      box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.25);
      background-color: $primary-light;
      padding: 5em 0.9375em;
      width: 70%;
      height: 100%;
      &--link {
        display: flex;
        align-items: center;
        gap: 0.3125rem;
      }
    }
  }
  &__logo {
    width: 3.5625rem;
    height: 3.9375rem;
  }
  &__links {
    display: none;
    &--link {
      &__dropdown {
        &:hover {
          cursor: pointer;
        }
        .dropdownArrow {
          transition: all 0.3s ease;
          width: auto;
          height: 8px;
          &.active {
            transform: rotate(180deg);
          }
        }
        &__menu {
          display: none;
          position: absolute;
          top: 100%;
          z-index: 3;
          &--item {
            cursor: pointer;
          }
          &.active {
            display: flex;
            flex-direction: column;
            cursor: default;
            background-color: $primary-light;
            padding: 1.3em;
            width: 9.375rem;
            line-height: 45px;
          }
        }
      }
    }
  }

  &__hamburger {
    position: relative;
    z-index: 4;
    width: 2.5rem;
    height: 1.25rem;
    &__line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      background-color: $primary-dark;
      width: 2.5rem;
      height: 0.25rem;
      &--1 {
        top: 0;
      }
      &--2 {
        top: 50%;
      }
      &--3 {
        top: 100%;
      }
    }
    &.active {
      .navbar__hamburger__line {
        &--2 {
          opacity: 0;
        }
        &--1 {
          transform: translate(-1.25rem, 0.625rem) rotate(45deg);
        }
        &--3 {
          transform: translate(-1.25rem, -0.625rem) rotate(-45deg);
        }
      }
    }
  }
}

.page {
  &__section {
    &--first {
      display: flex;
      flex-direction: column;
      gap: 0.9rem;
      background-color: $primary-green;
      padding: 3.125em 1.3em;
      max-width: 100%;
      color: $primary-light;
      &__title {
        max-width: 16ch;
      }
      &__description {
        width: #{"clamp(30ch, 60%, 44ch)"};
        font-size: #{"clamp(0.8rem, 0.8rem + 0.333vw, 1.1rem)"};
      }
      &__button {
        align-self: flex-start;
        margin-top: 0.9rem;
        padding: 0.8em 2em;
      }
    }
    &--second {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding-top: 3.125em;
      &__title {
        text-align: center;
      }
      &__vehicles {
        display: grid;
        grid-template-rows: 70% 1fr;
        box-shadow: 0px 4px 10px rgba(221, 221, 221, 0.5);
        border-radius: 10px 10px 0px 0px;
        background-color: $primary-green;
        width: 19rem;
        height: 11.5rem;
        &--container {
          display: grid;
          gap: 1.5625rem;
        }
        &--image {
          align-self: center;
          justify-self: center;
        }
        &--name {
          display: flex;
          align-items: center;
          background-color: $primary-light;
          padding-left: 1rem;
        }
      }
    }
    &--third {
      margin-top: 3.125em;
      padding: 0 1.3em;
      &--container {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        max-width: #{"clamp(40ch,60%, 70ch)"};
      }
      &__subtitle {
        color: $primary-green;
        &:nth-child(4) {
          margin-top: 1.3rem;
        }
      }
      &__description {
        font-size: #{"clamp(0.8rem, 3.8vw, 1rem)"};
      }
      &__statistics {
        display: grid;
        grid-template: max-content/repeat(3, 1fr);
        gap: 0.9rem 1.2rem;
        .number {
          font-size: #{"clamp(1.3rem, 3.8vw, 1.5625rem)"};
        }
        .text {
          color: $primary-grey;
          font-size: #{"clamp(0.8rem, 3.8vw, 1rem)"};
        }
      }
      &__img {
        display: none;
      }
    }
    &--fourth {
      padding-top: 6.25em;
      &__title {
        padding: 0.3em 0 2.2em 0;
        text-align: center;
      }
      &__subtitle {
        color: $primary-green;
        font-size: #{"clamp(0.9rem, 3.8vw, 1.25rem)"};
        text-align: center;
      }
      &__information {
        &--container {
          display: flex;
          flex-direction: column;
          gap: 0.9rem;
          padding: 0 1rem 0 1rem;
        }
        &__description {
          padding-top: 0.3em;
          font-size: #{"clamp(0.6rem, 3.8vw, .9375rem)"};
        }
        &__img {
          display: none;
        }
      }
    }
    &--fifth {
      display: grid;
      place-content: center;
      gap: 0.9rem;
      margin-top: 6.25rem;
      background-color: $primary-green;
      padding: 3.125em 1em;
      color: $primary-light;
      &__img--container {
        display: none;
      }
      &__information {
        display: grid;
        grid-template: max-content / repeat(1, 1fr);
        gap: 0.9rem;
        &--container {
          display: grid;
          gap: 0.9375rem;
        }
        &__description {
          padding-top: 0.3em;
          font-size: #{"clamp(0.6rem, 2.8vw, 1rem)"};
        }
      }
      &__button {
        justify-self: center;
        margin: 0.938rem 0 0 0;
        padding: 0.7em 0.8em;
      }
    }
    &--sixth {
      margin-top: 3.125rem;
      padding: 0 0.6rem 0 0.6rem;
      &__img {
        display: none;
      }
      &__subtitle {
        padding-top: 0.6em;
      }
      &__description {
        padding-top: 0.3em;
        color: $secondary-grey;
        font-size: #{"clamp(0.6rem, 3.8vw, 1.125rem)"};
        line-height: 30px;
      }
      &__form {
        display: grid;
        grid-template: max-content / repeat(2, minmax(8.5rem, 1fr));
        place-content: center;
        gap: 1.5625rem 5%;
        padding-top: 1.6rem;
        .span-col2 {
          grid-column: span 2;
        }
        input {
          &[type="checkbox"] {
            display: grid;
            place-content: center;
            border: 1px solid $primary-dark;
            border-radius: 3px;
            background-color: $primary-light;
            width: 2.15em;
            height: 1.15em;
            color: $primary-dark;
            &::before {
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              box-shadow: inset 1.15em 1.15em $primary-dark;
              border-radius: 2px;
              width: 0.8em;
              height: 0.8em;
              content: "";
            }
            &:checked::before {
              transform: scale(1);
            }
          }
          &[type="radio"] {
            display: grid;
            place-content: center;
            border: 1px solid $primary-dark;
            border-radius: 50%;
            background-color: $primary-light;
            width: 1.15em;
            height: 1.15em;
            color: $primary-dark;
            &::before {
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              box-shadow: inset 1.15em 1.15em $primary-dark;
              border-radius: 50%;
              width: 0.8em;
              height: 0.8em;
              content: "";
            }
            &:checked::before {
              transform: scale(1);
            }
          }
          &[type="text"],
          &[type="email"],
          &[type="tel"] {
            &:enabled {
              border-bottom: 2px solid $primary-grey;
              padding-bottom: 0.3em;
            }
          }
        }
        select {
          border-bottom: 2px solid $primary-grey;
          background-color: $primary-light;
          height: 1.6875rem;
          &:enabled {
            padding-bottom: 0.3em;
          }
        }
        &__label {
          display: flex;
          flex-direction: column;
          gap: 0.9rem;
          &:nth-child(1) > span {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
          &:nth-child(2) > span {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
          .image-container {
            position: absolute;
            right: 0.9rem;
            .dropdownArrow {
              position: relative;
              top: 2rem;
              filter: invert(66%) sepia(0%) saturate(593%) hue-rotate(138deg)
                brightness(93%) contrast(81%);
            }
          }
          .radio-container {
            display: flex;
            align-items: center;
            gap: 0.3125rem;
          }
        }
        &__promotional {
          display: flex;
          align-items: baseline;
          gap: 0.3125rem;
          padding-top: 0.6em;
          p {
            font-size: #{"clamp(0.5rem, 3.8vw, .875rem)"};
          }
        }
        &__button {
          justify-self: center;
          background-color: $button-green;
          padding: 1em 6.5em;
          color: $primary-light;
        }
      }
    }
    &--seventh {
      margin-top: 3.125rem;
      &__agencies {
        background-color: $primary-light;
        padding: 0 0.6em 0 0.6em;
        &__item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.3125rem;
          padding: 1.5em 0 1.5em 1.5em;
          &--main {
            background-color: $secondary-light;
          }
        }
        &__description {
          font-size: #{"clamp(0.5rem, 3.8vw, .9375rem)"};
        }
        .line {
          background-color: $secondary-light;
          height: 1px;
        }
        .image-container {
          position: absolute;
          left: 90%;
        }
      }
      &__map {
        background-color: $secondary-light;
        max-width: 100%;
        min-height: 25rem;
      }
    }
  }
}
  }
}

@media screen and (min-width: 35em) {
  .page {
    &__section {
      &--third {
        &__statistics {
          grid-template: max-content/repeat(3, max-content);
          gap: 20% 15%;
        }
      }
    }
  }
}

@media screen and (min-width: 28.75em) {
  .page {
    &__section {
      &--fifth {
        align-content: center;
        justify-content: start;
        margin-top: 9.375rem;
        &__information {
          grid-template: max-content / repeat(2, 1fr);
          gap: 1.875rem 2.5rem;
          max-width: 70ch;
        }
        &__button {
          justify-self: start;
        }
      }
    }
  }
}

@media screen and (min-width: 47.5em) and (max-width: 63.9375em) {
  .page {
    &__section {
      &--second {
        &__vehicles {
          &--container {
            grid-template: max-content / repeat(2, 1fr);
            gap: 2.5rem;
            padding: 0 3.125em;
          }
          &:last-child {
            grid-column: 1 / 3;
            justify-self: center;
          }
        }
      }
      &--fourth {
        &__information--container {
          max-width: 70ch;
        }
      }
    }
  }
}

@media screen and (min-width: 54.375em) {
  .page {
    &__section {
      &--fifth {
        margin-top: 15.625rem;
        background: url("../assets/images/full_service_desktop.png") 10% 100%
          no-repeat $primary-light;
        padding: 3.125em 0 3.125em 19.375em;
        &__img {
          position: relative;
          bottom: 13.1875rem;
          &--container {
            display: block;
            position: absolute;
            left: -33.125rem;
          }
        }
      }
    }
  }
  }
}

@media screen and (min-width: 64em) {
  .page {
    &__section {
      &--first {
        background: url("../assets/images/first_section_container.png") 55% 100%
          no-repeat $primary-green;
        &__button {
          padding: 0.9375rem 3em;
        }
      }
      &--second {
        &__vehicles {
          grid-template-rows: 65% 1fr;
          height: 14.375rem;
          &--container {
            column-gap: 6.25rem;
            row-gap: 3.125rem;
            grid-template: max-content / repeat(3, minmax(8.5rem, 1fr));
          }
          &:nth-child(4) {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            justify-self: center;
          }
          &:nth-child(5) {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
            justify-self: center;
          }
        }
      }
      &--third {
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        &--container {
          gap: 0.9375rem;
        }
        &__subtitle {
          &:nth-child(4) {
            margin-top: 4rem;
          }
        }
        &__img {
          display: block;
          width: #{"clamp(12.5rem, 50%, 40.625rem)"};
          height: 50%;
        }
      }
      &--fourth {
        &__information {
          &--container {
            display: grid;
            grid-template: max-content / repeat(3, 1fr);
            gap: 10% 5%;
            padding: 0 8.4375em 0 8.4375em;
            height: 29.375rem;
          }
          &__img {
            display: block;
            width: #{"clamp(12.5rem, 100%, 19.375rem)"};
            height: auto;
          }
          &:nth-child(1) {
            text-align: end;
          }
          &:nth-child(2) {
            grid-row: 2;
            grid-column: 1;
            text-align: end;
          }
          &:nth-child(3) {
            grid-row: span 2;
            align-self: center;
            justify-self: center;
          }
          &:nth-child(5) {
            grid-row: 2;
            grid-column: 3;
          }
          &:nth-child(6) {
            grid-row: 3;
            grid-column: 1 / 4;
            justify-self: center;
            max-width: 85ch;
            text-align: center;
          }
        }
      }
      &--fifth {
        &__img {
          bottom: 12.125rem;
        }
        &__button {
          padding: 0.9375em 3.125em;
        }
      }
      &--sixth {
        display: grid;
        grid-template: max-content / repeat(2, 1fr);
        gap: 9.375rem;
        padding: 0 10.3125em 0 3.125em;
        &__img {
          display: block;
          max-width: 80%;
          height: auto;
        }
        &__form {
          &__label {
            &:nth-child(1) {
              flex-direction: column;
              > span {
                font-size: 0.9375rem;
              }
            }
            &:nth-child(2) {
              flex-direction: column;
              > span {
                font-size: 0.9375rem;
              }
            }
            .image-container {
              position: absolute;
              right: 10.625rem;
              .dropdownArrow {
                position: relative;
                top: 2.375rem;
                filter: invert(66%) sepia(0%) saturate(593%) hue-rotate(138deg)
                  brightness(93%) contrast(81%);
              }
            }
          }
          &__button {
            justify-self: start;
          }
        }
      }
      &--seventh {
        &__agencies {
          position: absolute;
          z-index: 1;
          padding: 0;
          &--container {
            position: relative;
            top: 3.125rem;
            left: 3.125rem;
          }
          &__item {
            width: 33.4375rem;
          }
          .image-container {
            position: absolute;
            left: 95%;
          }
        }
        &__map {
          z-index: 0;
          min-height: 43.125rem;
        }
      }
    }
  }
}

@media screen and (min-width: 90em) {
  .page {
    &__section {
      &--first {
        background-position: 100%;
      }
      &--fifth {
        padding: 3.125em 0 3.125em 43.75em;
        &__img--container {
          left: -12.5rem;
        }
      }
      &--sixth {
        &__form {
          &__label {
            &:nth-child(1) {
              > span {
                flex-direction: row;
                gap: 2.5rem;
              }
            }
            &:nth-child(2) {
              > span {
                flex-direction: row;
                gap: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}

// Hamburger menu : tablet / small resolution desktop
@media screen and (min-width: 31.25em) and (max-width: 83.0625em) {
  .navbar {
    &.mobile-navbar--active {
      .navbar__links {
        width: 25rem;
      }
    }
  }
}

// Hamburger menu : high resolution desktop
@media screen and (min-width: 83.125em) {
  .navbar {
    padding: 0.75em 3.125em;
    &__logo {
      width: 5.625rem;
      height: auto;
    }
    &__links {
      display: flex;
      flex-direction: row;
      gap: 2.8125rem;
      &--link {
        a {
          font-size: 1rem;
        }
        &:nth-child(6) {
          display: flex;
          align-items: center;
          gap: 0.3125rem;
        }
      }
    }
    &__hamburger {
      display: none;
    }
  }
}
